<%- include('includes/head.ejs',{title: "Blog"}) %> 
<link rel="stylesheet" href="/sign-up.css">
</head>
<body>
  <%- include('includes/header.ejs') %> 
  <section id="post-section">
  
   <h1><%= post[0].post %> </h1>
   <h3> By: <%= post[0].firstName %> <%= post[0].lastName %>  </h3>
  </section>
  <section id="create-comment-section">
    <form action="/postComment/<%= post[0]._id %> " method="POST">
      <div>
        <label for="YourComment">Your Comment</label>
        <input type="test" name="YourComment"/>
      </div>
      <div>
        <button>Submit</button>
      </div>
    </form>
  </section>
  <Section id="comment-section">
    <ul>
      <% if(comments.length === 0){ %>
        <p>No Comments Yet Be the First</p>
      <%}  %> 
      <% comments.forEach((comment)=>{ %>
        <% console.log(comment) %>
        <div class="postHolder">
        <li class="post"><%= comment.comment %> </li>
      </div>
     <%  }) %>  
    </ul>
  </Section>
</body>
</html>